<launch>
	<node name = "path_planning_node" pkg="grasp_path_planner" type="path_planner_node" output="screen"/>
	<node name = "rl_node" pkg="rl_node" type="rl_node.py"/>
	<!--node name = "demo_node" pkg="carla_bridge" type="demo_environment_state_extraction.py" output="screen"-->
	<node name = "demo_node" pkg="simple_simulator" type="simple_sim.py" output="screen"/>
</launch>
